In [9]:
import os
import seaborn as sns
import pandas as pd

In [10]:
titanic = sns.load_dataset('titanic')

In [11]:
# Check for null values
print("Null values before cleaning:")
print(titanic.isnull().sum())

Null values before cleaning:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [12]:
# Drop rows with null values
titanic_clean = titanic.dropna()

In [13]:
# Check again after cleaning
print("\nNull values after cleaning:")
print(titanic_clean.isnull().sum())

Null values after cleaning:
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [14]:
# Create directory if it doesn't exist
os.makedirs(os.path.dirname('../data/processed/'), exist_ok=True)

In [18]:
# Save cleaned data to a new file
titanic_clean.to_csv('../data/processed/titanic_processed.csv', index=False)
print(f"\nCleaned data saved to /data/processed")

Cleaned data saved to /data/processed